.about-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  /* margin-top: 50vh; Push the container down to create scroll space */
}
/* 
.sphere {
  max-width: 800px;
  margin: 0 auto;
} */

.h {
	font: white
}