.greeting {
  min-height: 100vh; 
  /* min-height: 100dvh;  */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 50px;
  
  transition: all 500ms ease-in-out; 
  
  animation: fadeIn 1s; 
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
  
	overflow-x: hidden;
}

.fade-in {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 0.5s ease-in, transform 0.5s ease-out;
}

.fade-out {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.greeting-name {
	display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
white-space: nowrap;
flex-shrink: 0;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
