.resume-container {
  min-height: 100vh;
  /* min-height: 100dvh; */
  display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: center;
}

.badges-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2px;
  justify-content: center;
  margin: 2px;
  padding: 2px;
}

.badge {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid white;
	border-radius: 10px;
	max-width: 300px;
	word-wrap: normal;
	margin: 2px;
	padding: 10px;
}

.badge-img {
	margin-bottom: 20px;
	width: 100px;
	transition: 250ms ease-in-out;
}

.badge-img:hover {
	transform: scale(1.2);
	transition: 250ms ease-in-out;
	filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.7));
}

.badge-title {
	display: flex;
	flex-direction: column;
	text-align: center;
	color: white;
	font-size: 16px;
}

.badge-issuer {
	display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  font-size: 14px;
  font-style: italic;
}
