.resume-container {
	margin-top: 5vh;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px
}

.resume {
	width: 80vw;
	max-width: 1900px;
	margin: 0 auto;
}

.badges-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 2px;
	justify-content: center;
	margin: 10px 2px 2px 2px;
	padding: 2px;
}

.pdf-viewer-wrapper {
	max-height: 80vh;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.badge {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1 1 250px;
	max-width: 300px;
	min-height: 150px;
	border: 1px solid white;
	border-radius: 10px;
	margin: 2px;
	padding: 15px;
	word-wrap: break-word;
}

.badge-img {
	margin-bottom: 20px;
	width: 100px;
	transition: 250ms ease-in-out;
}

.badge-img:hover {
	transform: scale(1.2);
	transition: 250ms ease-in-out;
	filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.7));
}

.badge-title {
	display: flex;
	flex-direction: column;
	text-align: center;
	color: white;
	font-size: 16px;
}

.badge-issuer {
	display: flex;
	flex-direction: column;
	text-align: center;
	color: white;
	font-size: 14px;
	font-style: italic;
}

.pdf-viewer-wrapper {
	height: 500px;
}

@media (min-width: 768px) {
	.pdf-viewer-wrapper {
		height: 85vh;
	}
}

.mui-style-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	text-decoration: none;
	color: #fff;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 4px;
	padding: 5px 15px;
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 1.75;
	letter-spacing: 0.02857em;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mui-style-button:hover {
	border: 1px solid #fff;
	background-color: rgba(255, 255, 255, 0.08);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.mui-icon {
	width: 20px;
	height: 20px;
	fill: currentColor;
}