.about-container {
  min-height: 100vh;
  /* min-height: 100dvh; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  /* margin-top: 50vh; Push the container down to create scroll space */
}

.about {
	/* font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', Helvetica, Arial, sans-serif; */
	/* font-family: Monaco, Menlo, 'Courier New', monospace; */
  max-width: 800px;
  /* margin: 0 auto; */
}