/* Navbar.css */

.Navbar {
	position: -webkit-sticky;
	position: sticky;

	top: 8px;
	left: 0;
	right: 0;

	z-index: 2;

	background-color: transparent;
	/* background-color: #282c34; */
	font-size: calc(10px + 2vmin);
	color: #ffffff;
	border-radius: 10px 10px 0 0;

	padding: 0.5em;
}

.Navbar-header {
	color: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	z-index: 1;
}

.Navbar-controls {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.Navbar-links-container {
  right: 0;
  width: 200px;
  display: flex; /* Keep it as flex always */
  flex-direction: column;
  padding-bottom: 10px;
  position: absolute;
  top: 100%;
  z-index: 11;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out, visibility 0.125s;
}

.Navbar.open .Navbar-links-container {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.nav-link-item {
	text-decoration: none;
	color: #ffffff;
	font-weight: 500;
	padding: 10px 1em;
	font-size: 1em;
	transition: background-color 0.25s ease-in-out;
	text-align: right;
	transform-origin: right;
	transition: 250ms ease-in-out;
}

.nav-link-item:hover {
	transition: 250ms ease-in-out;
	color: #ffffffaa;
  transform: scale(1.1);
}

.nav-link-item.active {
	/* background-color: #4f4f4f; */
}

.hamburger-icon {
	width: 30px;
	height: 24px;
	position: relative;
	cursor: pointer;
	z-index: 999;
	flex-shrink: 0;
	margin-left: 15px;
	transition: 125ms ease-in-out;

}

.hamburger-icon::before,
.hamburger-icon::after,
.middle-bar {
	content: "";
	display: block;
	height: 3px;
	width: 100%;
	background-color: #ffffff;
	border-radius: 3px;
	transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
	position: absolute;
	left: 0;
	transition: 125ms ease-in-out;

}

.hamburger-icon::before {
	top: 0;
	transition: 125ms ease-in-out;

}

.hamburger-icon::after {
	bottom: 0;
	transition: 125ms ease-in-out;
}

.middle-bar {
	top: 50%;
	transform: translateY(-50%);
	transition: 125ms ease-in-out;
}

.hamburger-icon.open::before {
	top: 10.5px;
	transform: rotate(45deg);
	transition: 125ms ease-in-out;
}

.hamburger-icon.open::after {
	bottom: 10.5px;
	transform: rotate(-45deg);
	transition: 125ms ease-in-out;
}

.hamburger-icon.open>.middle-bar {
	opacity: 0;
	transform: scaleX(0);
	transition: 125ms ease-in-out;
}

.logo {
	max-inline-size: calc(50px);
}

.link {
	/* text-decoration: none;
	color: #ffffff;
	transition: 250ms ease-in-out; */
}

.link:hover {
	/* transition: 250ms ease-in-out;
	color: #ffffffaa; */
}