.blog-index-container {
	margin-top: 5vh;
	min-height: 100vh;
	/* min-height: 100dvh; */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 2rem;
}

/* .blog-index-title {
} */

.about {
	max-width: 800px;
	margin: 0 auto;
}

.post-list {
	list-style: none;
	padding: 0;
}

.post-list-item {
	list-style: none;
	padding: 0;
	margin-bottom: 10px;
}

.post-link {
	font-size: 1rem;
	text-decoration: none;
	color: #ffffff;
	transition: 125ms ease-in-out;
}

.post-link:hover {
	transition: 125ms ease-in-out;
	color: #bbb9ffaa;
}