/* App.css */

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

.App-body {
	background-color: #282c34;
	border-radius: 10px 10px 0px 0px;
  min-height: 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
	z-index: 1;
	margin-top: -65px;
}

.social-media-icon {
  padding: 0.25em;
}

.link:hover {
  transition: 250ms ease-in-out;
  color: #ffffffaa;
}

.logo {
  max-inline-size: calc(50px);
  position: absolute;
  left: 0;
  top: 0;
}

.date {
  color: #ff0000;
}

footer {
	border-radius: 0px 0px 10px 10px;
}
